.tableNav {
  display: flex;
  width: auto;
  margin: 12px 0px;
  align-items: center;
  flex-wrap: wrap;

  .device-count {
    color: #CDCDCD;
    font-size: 12px;
    padding-left: 8px;
  }

  .table-icon {
    height: 32px;
    width: 32px;
    margin-left: auto;
    background: url('../../../public/png/table-default.png');

    &:hover {
      background: url('../../../public/png/table-hover.png');
    }

    &:focus {
      background: url('../../../public/png/table-focus.png');
    }

    &:active {
      background: url('../../../public/png/table-active.png');
    }
  }

  .card-icon {
    height: 32px;
    width: 32px;
    background: url('../../../public/png/grid-default.png');

    &:active {
      background: url('../../../public/png/grid-active.png');
    }
  }

  .filter {
    background-color: #FFFFFF;
    color: #9A9A9A;
    border-color: transparent;
    margin: 0px 16px 0px 8px;

    &:hover {
      background-color: #F4F5F6;
    }

    &:focus {
      border-color: #006FFF;
    }

    &:active {
      border-color: #F9FAFA;
      color: #006FFF;
      border-style: outset;
    }
  }
}