.card {
  width: 220px;
  height: 180px;
  border: 1px solid #F6F7F8;
  border-radius: 8px;
  margin: 0px 12px 12px 0px;

  &:hover {
    background-color: #F9FAFA;
  }

  &:focus {
    border-color: #006FFF;
  }

  .image-container {
    background-color: #F9FAFA;
    .image {
      height: 129px;
      width: 129px;
      background-color: #F9FAFA;
    }
  }

  .name {
    font-size: 18px;
    font-weight: 500;
    line-height: 20px;
    margin-left: 12px;
    width: 208px;
    text-align: left;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
  }

  .shortName {
    color: #8C8C8C;
    font-size: 10px;
    margin-top: 12px;
    margin-left: 12px;
    text-align: left;
    width: 208px;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
  }
}