.nav {
  width: auto;
  background-color: #F4F5F6;
  display: flex;
  color: #808893;
  align-items: center;

  .logo {
    height: 50px;
    width: 50px;
    background-image: url('../../../public/png/u-default.png');

    &:hover {
      background: url('../../../public/png/u-hover.png');
    }

    &:focus {
      background: url('../../../public/png/u-focus.png');
    }
  }

  .title {
    margin-left: 10px;
  }

  .author {
    margin-left: auto;
    margin-right: 10px;
  }
}
